@import "tailwindcss";
@import "tw-animate-css";

:root {
  --radius: 0.75rem;
  --background: oklch(0.9 0.2 145); /* Verde claro */
  --foreground: oklch(0.1 0.1 145); /* Verde oscuro */
  --card: oklch(0.9 0.2 145);
  --card-foreground: oklch(0.1 0.1 145);
  --popover: oklch(0.9 0.2 145);
  --popover-foreground: oklch(0.1 0.1 145);
  --primary: oklch(0.52 0.176858 142.4953); /* Verde optimizado */
  --primary-foreground: oklch(0.98 0.02 145); /* Contraste */
  --secondary: oklch(0.8 0.1 145);
  --secondary-foreground: oklch(0.2 0.05 145);
  --muted: oklch(0.8 0.1 145);
  --muted-foreground: oklch(0.5 0.05 145);
  --accent: oklch(0.52 0.176858 142.4953);
  --accent-foreground: oklch(0.2 0.05 145);
  --destructive: oklch(0.6 0.3 27); /* Rojo */
  --border: oklch(0.85 0.05 145);
  --input: oklch(0.85 0.05 145);
  --ring: oklch(0.69 0.194 45.37);
  --chart-1: oklch(0.5 0.2 145);
  --chart-2: oklch(0.4 0.15 145);
  --chart-3: oklch(0.3 0.1 145);
  --chart-4: oklch(0.7 0.25 145);
  --chart-5: oklch(0.6 0.2 145);
  --sidebar: oklch(0.9 0.2 145);
  --sidebar-foreground: oklch(0.1 0.1 145);
  --sidebar-primary: oklch(0.6 0.3 145);
  --sidebar-primary-foreground: oklch(0.98 0.02 145);
  --sidebar-accent: oklch(0.8 0.1 145);
  --sidebar-accent-foreground: oklch(0.2 0.05 145);
  --sidebar-border: oklch(0.85 0.05 145);
  --sidebar-ring: oklch(0.6 0.3 145);
}

.dark {
  --background: oklch(0.1 0.1 145);
  --foreground: oklch(0.9 0.2 145);
  --card: oklch(0.2 0.05 145);
  --card-foreground: oklch(0.9 0.2 145);
  --popover: oklch(0.2 0.05 145);
  --popover-foreground: oklch(0.9 0.2 145);
  --primary: oklch(0.52 0.176858 142.4953); /* Verde optimizado */
  --primary-foreground: oklch(0.2 0.05 145);
  --secondary: oklch(0.3 0.1 145);
  --secondary-foreground: oklch(0.9 0.2 145);
  --muted: oklch(0.3 0.1 145);
  --muted-foreground: oklch(0.5 0.05 145);
  --accent: oklch(0.3 0.1 145);
  --accent-foreground: oklch(0.9 0.2 145);
  --destructive: oklch(0.6 0.3 27);
  --border: oklch(0.2 0.05 145 / 10%);
  --input: oklch(0.2 0.05 145 / 15%);
  --ring: oklch(0.4 0.2 145);
  --chart-1: oklch(0.3 0.15 145);
  --chart-2: oklch(0.4 0.2 145);
  --chart-3: oklch(0.5 0.25 145);
  --chart-4: oklch(0.6 0.3 145);
  --chart-5: oklch(0.7 0.35 145);
  --sidebar: oklch(0.2 0.05 145);
  --sidebar-foreground: oklch(0.9 0.2 145);
  --sidebar-primary: oklch(0.4 0.2 145);
  --sidebar-primary-foreground: oklch(0.9 0.2 145);
  --sidebar-accent: oklch(0.3 0.1 145);
  --sidebar-accent-foreground: oklch(0.9 0.2 145);
  --sidebar-border: oklch(0.2 0.05 145 / 10%);
  --sidebar-ring: oklch(0.4 0.2 145);
}

@custom-variant dark (&:is(.dark *));

* {
  font-family: "Roboto", arial, sans-serif;
}

.open-sans {
  font-family: "Open Sans";
  font-weight: 600;
}

body {
  background-color: white;
  color: black;
}

.label::after {
  content: " *";
  color: red;
}

.label {
  margin-top: 3px;
  margin-bottom: 8px;
}

/* navbar */
nav {
  @apply h-20 w-full;
  background: #f76905;
}

label.logo {
  @apply text-[white] px-3 py-0 text-[25px] leading-[80px] font-[bold];
}

nav ul {
  @apply float-right mr-5;
}

nav ul li {
  @apply inline-block leading-[80px] mx-[5px] my-0;
}

nav ul li a {
  @apply text-[white] relative text-[17px]  px-[13px] py-[7px] rounded-[3px];
}

a.active {
  @apply transition-[0.5s];
  background: #008000;
}

.checkbtn {
  @apply text-[22px] text-[white] float-right leading-[80px] cursor-pointer hidden mr-[30px];
}

#check {
  @apply hidden;
}

@media (max-width: 1050px) {
  label.logo {
    @apply pl-[30px];
  }

  nav ul li a {
    @apply text-base;
  }
}

/* Responsive media query code for small screen */
@media (max-width: 1200px) {
  .checkbtn {
    @apply block;
  }

  label.logo {
    @apply text-[22px];
  }

  ul {
    @apply fixed w-[80%] h-screen bg-[#f76905] px-3 text-center transition-all duration-[0.5s] -left-full top-20;
  }

  nav ul li {
    @apply block leading-[30px] mx-0 my-[50px];
  }

  nav ul li a {
    @apply text-xl;
  }

  .hipervinculo:hover,
  .hipervinculo.active {
    @apply text-[#008000] font-bold bg-[#f76d0b] rounded-2xl;
  }

  #check:checked ~ ul {
    @apply left-0;
  }
}
@media (max-width: 211px) {
  /* Estilos aquí */
  .checkbtn {
    @apply mr-4;
  }
}

@media (max-width: 373px) {
  table {
    font-size: 12px; /* Ajusta el tamaño de la letra de la tabla */
  }

  table th,
  table td {
    padding: 4px; /* Opcional: ajusta el padding para que se vea mejor */
  }
}

.filter-green {
  filter: hue-rotate(120deg) saturate(200%) brightness(90%);
  /* Ajusta el matiz, saturación y brillo para obtener #00B301 */
}

/* loader */
.loader {
  width: 28px;
  height: 28px;
  border: 5px solid #fff;
  border-bottom-color: #ff3d00;
  border-radius: 50%;
  display: inline-block;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

@theme inline {
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}
